<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @july.day %>
</p>

<p>
  <strong>Month:</strong>
  <%= @july.month %>
</p>

<%= link_to 'Edit', edit_july_path(@july) %> |
<%= link_to 'Back', julies_path %>
